lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
.vscode

pids
logs
results
tmp

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

src
build/utils
build/scripts
build/config/gameTesterConfig.*
build/config/gameTesterConfig.*
